#header {
    height: 50px;
    width: 960px;
    background: white;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 20px;
    padding-right: 20px;


}

#name {
    float: left;
}

#About {
    float: right;
    width: 100px;
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    border-right: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-color: white;
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: gray;
    border-right-style: solid;
    

}

#Portfolio {
    float: right;
    width: 100px;
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 5px;
    border-right: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-color: white;
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: gray;
    border-right-style: solid;
}

#Contact {
    float: right;
    width: auto;
    height: 25px;
    margin-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: gray;
    border-block-width: 2px;
    padding-top: 5px;
}

#bio1 {
    width: 960px;
    height: auto;
    margin-bottom: 0;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 20px;
    padding-right: 20px;
    background: lightgray;
    position: relative;

}

#bio2 {
    width: 960px;
    height: auto;
    margin-top: 0;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 20px;
    padding-right: 20px;
    background: lightgray;
    position: relative;
}

#AboutHeading {
    position: relative;
    top: 10px;
    left: 10px;
    
}

img {
    position: relative;
    width: 150px;
    height: 200px;
    clear: both;
    float: left;
    margin: 15px;
}

p {
    text-align: justify;
}