
header {
    position: fixed;
    top: 0px;
    height: 50px;
    background: white;
    padding-left: 25%;
    padding-right: 25%;

}

#top-container {
    position:
    width: 960px;
    margin-left: 25%;
    margin-right: 25%;
    float: center;
}

#name {
    float: left;
}

#About {
    float: right;
    width: 100px;
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    border-right: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-color: white;
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: gray;
    border-right-style: solid;
    

}

#Portfolio {
    float: right;
    width: 100px;
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 5px;
    border-right: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-color: white;
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: gray;
    border-right-style: solid;
}

#Contact {
    float: right;
    width: auto;
    height: 25px;
    margin-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: gray;
    border-block-width: 2px;
    padding-top: 5px;
}

#background {
    width: 100%;
}

#bio {
    width: 960px;
    height: auto;
    margin-bottom: 0;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background: lightgray;
    position: relative;

}

#AboutHeading {

}

img {
    position: relative;
    width: 150px;
    height: 200px;
    clear: both;
    float: left;
    margin: 15px;
}

p {
    text-align: justify;
}

footer {
    width: 100%;
    background: white;
    color: black;
}